.contact__buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

.contact__email {
    color: currentColor;
    text-decoration: solid underline #FED237 2px;
    text-underline-offset: 4px;
    font-weight: bold;
    cursor: pointer;
}